<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>UNCC Notes App - New Note</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
       <nav>
           <div class="topnav">
            <a href="{{ url_for('home')}}"> Home </a>
            <a href="{{url_for('get_events')}}"> My Events</a>
           <a href="{{url_for('new_event')}}"> Add Event</a>
           <a href="{{url_for('get_friends')}}"> Friend List</a>
           <a href="{{url_for('get_account')}}"> My Account</a>

           </div>
        </nav>

        <h1>Welcome {{user}} to the Events App!</h1>
       <table class="UserNames">
            <tr>
                <th>First Name :</th>

                <td>{{account.first_name }}</td>

            </tr>

            <tr>
                <th>Last Name :</th>


               <td>{{account.last_name}}</td>

           <tr>
                <th>Email :</th>

            </tr>

               <td>{{account.email}}</td>
       </table>
   </div>



    </body>
</html>
