<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Event App">
        <title>Events App</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
   <body>
    <h1>Welcome {{user}} to the Event App!</h1>
        <div class="topnav">
        <nav>
            <a href="{{ url_for('home')}}"> Home   </a>
            <a href="{{url_for('get_events')}}">   My Events   </a>
            <a href="{{url_for('new_event')}}">   Add Event  </a>
            <a href="{{url_for('get_friends')}}"> Friend List </a>

        </nav>
            {% if user %}
            <nav>
                <a href="{{url_for('get_account')}}"> My Account</a>
                <a href="{{ url_for('logout')}}">Logout</a>
            </nav>
            {% else %}
                <nav>
                    <a href="{{ url_for('login')}}">SIGN-IN</a>
                    <a href="{{ url_for('register')}}">REGISTER</a>
                </nav>
            {% endif %}
        </div>



        <div class="body">
            <h1>Events Home Page</h1>





            <br><br><br>

            <table class="tablehome">
                <tr>
                     <th>Title</th>
                <th>Date</th>
                <th>Address</th>
                <th>Text</th>

                </tr>
                {% for event in index %}
                <tr>
                    <td><a href="{{ url_for('get_events', event_id=event.id) }}">{{ event.title }}</a></td>

                <td>{{ event.date }}</td>
                <td>{{ event.address }}</td>
                <td>{{ event.text }}</td>
                
                <td>
                    <form action = "{{ url_for('get_event', event_id= event.id) }}" class="RSVPbutton">
                        <input type="submit" value="RSVP" class="RSVPbutton">
                    </form>
                </td>
                <td>
                    <form action = "{{ url_for('get_event', event_id= event.id) }}" class="Reportbutton">
                        <input type="submit" value="Report" class="Reportbutton">
                    </form>
                </td>
                </tr>
                {% endfor %}
            </table>



        </div>
    </body>
</html>