<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Events App">
        <title> Events App - View your Events</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
     <h1>Welcome {{user}} to the Event App!</h1>
    <nav>
        <div class="topnav">
            <a href="{{ url_for('home')}}"> Home </a>
            <a href="/events"> My Events </a>
            <a href="{{url_for('new_event')}}"> Add Event</a>
            <a href="{{url_for('get_friends')}}"> Friend List</a>
            <a href="{{url_for('get_account')}}"> My Account</a>
            <a href="{{ url_for('logout')}}">Logout</a>
        </div>
        </nav>
    <body>


        <!-- Body -->
        <h3>Report Event</h3>
        <p>Tell us why you are reporting this event.</p>
            <form action="{{ url_for('index') }}">
                <input type="submit" value="Event describes violent behavior">
            </form>
            <form action="{{ url_for('index') }}">
                <input type="submit" value="Event describes illegal behavior">
            </form>
            <form action="{{ url_for('index') }}">
                <input type="submit" value="Event describes sexual behavior">
            </form>
            <form action="{{ url_for('index') }}">
                <input type="submit" value="Event discriminates against a race/gender/sexual orientation">
            </form>
            <form action="{{ url_for('index') }}">
                <input type="submit" value="Event description uses profanity or offensive language">
            </form>

    </body>
</html>