body {
    padding: 30px 30px;
    font-family: Arial, Helvetica, sans-serif;
    }
h1{
    color: teal;
}
.intro {
    color: white;
    background: black;
}
.topnav {
    overflow: hidden;
    background-color: teal;
    text-align: center;
}
.topnav a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    color: white;

}
.friendlist th {
font-weight: bold; }

.eventlist h1{
text-align: center;
alignment: center;
}

input[type='submit']
{
    background-color: lightpink;
    color: black;
    font-size: 15px;
    padding:5px;
    font-family: Palatino Linotype, sans-serif;
}


.UserNames{
font-weight: bold;}

.tablehome{
text-align: center;
width: 100%;
}

.RSVPbutton{
text-align: center;
}


.Reportbutton{
text-align: center;

}













